NET "ce" LOC = K13;
NET "clk" LOC = L14;
NET "reset" LOC = K14;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "led[0]" LOC = E14;
NET "led[1]" LOC = G13;
NET "led[2]" LOC = N15;
NET "led[3]" LOC = P15;
NET "led[4]" LOC = R16;
NET "led[5]" LOC = F13;
NET "led[6]" LOC = N16;